.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
docs
results
theory
sim/sim_res/bayes/model_results
sim/sim_res/bayes/post_results
sim/sim_res/freq/model_results
sim/testing
sim/truth
data
data_analysis